.imputs{
display: flex;
}
.homepage2container{
    margin-left: 15px;
}
.imput-left{
margin-top: 30px;
}
.imput-right{
margin-top: 30px;
margin-left: 20px;
}
.fromto{
width: 155px;
height: 48px;
top: 265px;
left: 495px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
margin-left: 5px;
margin-right: 5px;
}
.country{
    width: 374px;
    height: 48px;
    top: 265px;
    left: 52px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-size: 20px;
}
.metal{
    width: 374px;
    height: 48px;
    top: 265px;
    left: 52px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-size: 20px;
}
.quality{
    width: 374px;
    height: 48px;
    top: 265px;
    left: 52px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-size: 20px;
}
@media screen and (max-width: 780px) {
    .imputs {
      flex-direction: column; 
      gap: 20px;
    }
  
    .homepage2container {
      margin-left: 10px; 
    }
  
    .imput-left,
    .imput-right {
      margin-top: 10px; 
      margin-left: 0;
    }
  
    .fromto {
      width: 100%; 
      margin-left: 0;
      margin-right: 0; 
    }
  
    .country,
    .metal,
    .quality {
      width: 100%;
      font-size: 16px; 
    }
  }
  